*.swp
.ipynb_checkpoints/*
jupyter_notebooks/.ipynb_checkpoint/*
jupyter_notebooks/.ipynb_checkpoints/*
__pycache__/*
retired_scripts/*
saved_models/*
saved_models_old/*
results/*
results_old/*
CBAM-keras/*
DenseNet/*
CBAM-keras
DenseNet
kmeans
kmeans/*

